* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma, sans-serif;
}
/* Paleta de cores da página */
:root {
  --cor1: #fff;
  --cor2: #F8F7FF;
  --cor3: #f3f0f0;
  --cor4: #e6e6e6;
  --cor5: #4a4a4a;
  --cor6: #000000;
  --cor7: #05031b;
  --cor8: rgba(0, 0, 0, 0.377);
}